<aside
  class="flex justify-between items-center p-2 sm:p-4 bg-bg1 text-headline shadow-xl border-b border-gray-600"
>
  <div class="flex items-center text-center gap-2 pb-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 128 128"
      width="64px"
      height="64px"
      class="w-10 md:w-12 fill-tag-bg align-middle leading-0 p-0"
    >
      <path
        d="M15,109.8l48,17c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0.1,0.5,0.1,0.7,0.1c0.2,0,0.3,0,0.5,0c0,0,0,0,0,0c0,0,0,0,0.1,0 c0.1,0,0.3-0.1,0.4-0.1c0,0,0,0,0,0l48-17c1.2-0.4,2-1.6,2-2.8V73.4l10-3.5c0.8-0.3,1.5-1,1.8-1.8s0.2-1.8-0.3-2.6l-12-20 c0,0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0,0c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.1-0.2-0.2 c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1 c0,0,0,0,0,0c0,0,0,0,0,0l-48-17c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c0,0,0,0,0,0 c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.4,0c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.5,0.1l-48,17 c-0.2,0.1-0.3,0.1-0.5,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.1-0.2,0.2 c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.2c0,0,0,0.1-0.1,0.1l-12,20c-0.7,1.1-0.6,2.5,0.2,3.4C2.3,69.6,3.1,70,4,70 c0.3,0,0.7-0.1,1-0.2l8-2.8v40C13,108.3,13.8,109.4,15,109.8z M119.5,65.4l-42.2,15l-8.9-14.8l42.2-15L119.5,65.4z M67,34.2L103,47 L67,59.8V34.2z M67,74.8l6.4,10.7C74,86.5,75,87,76,87c0.3,0,0.7-0.1,1-0.2l32-11.3v29.4l-42,14.9V74.8z M19,51.2l42,14.9v53.6 l-42-14.9V51.2z"
      />
    </svg>
    <p class="text-lg sm:text-xl font-bold font-title pt-2">
      <span class="text-headline">Share</span
      ><span class="text-btn-success-bg">Box</span>
    </p>
  </div>
  <div class="flex font-body font-semibold text-md">
    <ul class="flex gap-5 justify-center items-center">
      <% if(isLoggedIn){ %>
        <li>
          <form action="/logout" method="post">
            <button type="submit" class="bg-btn-danger-hover hover:bg-btn-danger-bg text-btn-primary-text px-2 py-1 rounded cursor-pointer">Logout</button>
          </form>                  
        </li>
      <% } else { %>
        <li>
          <a 
          href="/login"
          class="bg-btn-primary-bg hover:bg-btn-primary-hover text-btn-primary-text px-2 py-1 rounded"
          >Login</a>
        </li>
        <li>
          <a 
          href="/signup"
          class="bg-btn-primary-bg hover:bg-btn-primary-hover text-btn-primary-text px-2 py-1 rounded"
          >Signup</a>
        </li>
      <% } %>
    </ul>
  </div>
</aside>