<aside
  class="flex justify-between items-center p-2 sm:p-4 bg-bg1 text-headline shadow-xl border-b border-gray-600"
>
  <a
  href="/" 
  class="flex items-center text-center gap-2 pb-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 128 128"
      width="64px"
      height="64px"
      class="w-10 md:w-12 fill-tag-bg align-middle leading-0 p-0"
    >
      <path
        d="M15,109.8l48,17c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0.1,0.5,0.1,0.7,0.1c0.2,0,0.3,0,0.5,0c0,0,0,0,0,0c0,0,0,0,0.1,0 c0.1,0,0.3-0.1,0.4-0.1c0,0,0,0,0,0l48-17c1.2-0.4,2-1.6,2-2.8V73.4l10-3.5c0.8-0.3,1.5-1,1.8-1.8s0.2-1.8-0.3-2.6l-12-20 c0,0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0,0c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1c-0.1-0.1-0.1-0.1-0.2-0.2 c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.1-0.1-0.2-0.1 c0,0,0,0,0,0c0,0,0,0,0,0l-48-17c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c0,0,0,0,0,0 c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.4,0c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.5,0.1l-48,17 c-0.2,0.1-0.3,0.1-0.5,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.1-0.2,0.2 c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.2c0,0,0,0.1-0.1,0.1l-12,20c-0.7,1.1-0.6,2.5,0.2,3.4C2.3,69.6,3.1,70,4,70 c0.3,0,0.7-0.1,1-0.2l8-2.8v40C13,108.3,13.8,109.4,15,109.8z M119.5,65.4l-42.2,15l-8.9-14.8l42.2-15L119.5,65.4z M67,34.2L103,47 L67,59.8V34.2z M67,74.8l6.4,10.7C74,86.5,75,87,76,87c0.3,0,0.7-0.1,1-0.2l32-11.3v29.4l-42,14.9V74.8z M19,51.2l42,14.9v53.6 l-42-14.9V51.2z"
      />
    </svg>
    <p class="text-lg sm:text-xl font-bold font-title pt-2">
      <span class="text-headline">Share</span
      ><span class="text-btn-success-bg">Box</span>
    </p>
  </a>
  <div class="flex font-body font-semibold text-md">
    <ul class="flex gap-5 justify-center items-center">
      <% if(isLoggedIn){ %>
        <li class="flex justify-between gap-1 items-center text-white bg-gradient-to-br from-btn-primary-hover via-purple-900 to-btn-primary-hover hover:bg-gradient-to-tr rounded px-2 py-1 text-center">
          <svg
          class="w-6 h-6 fill-current" 
          xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M 3.5 3 C 2.6774686 3 2 3.6774686 2 4.5 L 2 18.5 C 2 19.322531 2.6774686 20 3.5 20 L 20.5 20 C 21.322531 20 22 19.322531 22 18.5 L 22 6.5 C 22 5.6774686 21.322531 5 20.5 5 L 10.626953 5 C 10.494266 5 10.368136 4.9496639 10.273438 4.8554688 A 0.50005 0.50005 0 0 0 10.273438 4.8535156 L 8.8457031 3.4355469 L 8.8457031 3.4375 C 8.5648004 3.1565972 8.182927 3 7.7871094 3 L 3.5 3 z M 3.5 4 L 7.7871094 4 C 7.9212918 4 8.0455746 4.0514341 8.1386719 4.1445312 A 0.50005 0.50005 0 0 0 8.140625 4.1464844 L 9.5683594 5.5644531 C 9.8496605 5.844258 10.23164 6 10.626953 6 L 20.5 6 C 20.781469 6 21 6.2185314 21 6.5 L 21 18.5 C 21 18.781469 20.781469 19 20.5 19 L 3.5 19 C 3.2185314 19 3 18.781469 3 18.5 L 3 4.5 C 3 4.2185314 3.2185314 4 3.5 4 z"/></svg>
          <a 
          href="/folders"
          class=""
          >Folders</a>
        </li>
        <li>
          <form action="/logout" method="post">
            <button type="submit" 
            class="bg-gradient-to-br from-red-700 via-red-900 to-red-700 hover:bg-gradient-to-tr text-btn-primary-text px-2 py-1 rounded cursor-pointer">
            Logout</button>
          </form>                  
        </li>
      <% } else { %>
        <li>
          <a 
          href="/login"
          class="bg-gradient-to-br from-green-700 via-green-900 to-green-700 hover:bg-gradient-to-tr text-btn-primary-text px-2 py-1 rounded"
          >Login</a>
        </li>
        <li>
          <a 
          href="/signup"
          class="bg-gradient-to-br from-purple-700 via-purple-900 to-purple-700 hover:bg-gradient-to-tr text-btn-primary-text px-2 py-1 rounded"
          >Signup</a>
        </li>
      <% } %>
    </ul>
  </div>
</aside>